[global_config]
[keybindings]
[profiles]
  [[default]]
    background_darkness = 0.87
    background_image = None
    copy_on_selection = True
    background_type = transparent
    show_titlebar = False
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
